body{
    margin: 0em;
}
h1{
    font-family: 'Bowlby One SC', cursive;
}


.cover{
    height: 400px;
    background-image:url("../img/fondo.jpg");
    color:white;
    background-size: cover;
    background-position: center;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: darken;

}

.cover-small{
    height: 250px;
    background-blend-mode:normal ;
}

.card{
    border: 0 !important ;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    
}

.card-title{
    min-height: .5rem;  
}

.card-text{
    min-height: 3rem;  
}